.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 50rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(to bottom, #2c0a4c, #450d80);
  box-shadow: 0 1px 4px rgb(0, 0, 0, 0.1);
}

img {
  width: 6rem;
  height: 6rem;
}
