button {
  color: white;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.rounded-border {
  border-radius: 0.5rem;
}

.task-content {
  padding: 1rem;
  background-color: rgb(125, 27, 216);
  margin-bottom: 1rem;
}

.complete-task {
  padding: 0.2rem;
  background-color: rgb(29, 4, 52);
}
