dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: 30%;
  background-color: rgb(40, 17, 62);
  z-index: 1000; /* ensure it appears above other content */
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 2rem;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

