.user {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgb(88, 82, 82);
  width: 58%;
}

.user:hover,
.user:active, 
.active {
  cursor: pointer;
  color: black;
  background: linear-gradient(to bottom, #2c0a4c, #450d80);
}

img {
  max-width: 5rem;
  width: 5rem;
  margin-right: 0.5rem;
  border-radius: 100%;
}
